@media (max-width: 768px) {
    .Avaliaçõesdasemana{
      margin: 17px;
    }
    .textinici {
        font-family: Merriweather Sans, sans-serif;
        color: #0C1E33;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .stars{
      font-size: 30px;        
      color: rgb(255, 217, 0);            
      text-decoration: none;
      display: flex;
      justify-content: first baseline;
      align-items: flex-start;
    
    }
    .nameli{
      font-family: Merriweather Sans, sans-serif;
        color: #0C1E33;
        font-size: 22px;
    }
    .usuario{
      font-family: Merriweather Sans, sans-serif;
        color: #0C1E33;
        font-size: 13px;
    }
    p{
      font-family: Merriweather Sans, sans-serif;
        color: #0C1E33;
        font-size: 18px;
        display: flex;
        align-items: first baseline;
    }
    .Táticasamor,.cançao,.terranunca,.vermelho{
      padding: 45px;
      margin: 55px;
      border:2px  solid #0C1E33;
      border-radius: 25px;
    
    }
    .taticas,.aquileimg,.rei,.branco{
      max-width: 125px;
        max-height: 257px;
    }
}
/*desktop*/
@media (min-width: 768px) {
.Avaliaçõesdasemana{
      margin: 28px;
}
.textinici {
    font-family: Merriweather Sans, sans-serif;
    color: #0C1E33;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stars{
  font-size: 30px;        
  color: rgb(255, 217, 0);            
  text-decoration: none;
  display: flex;
  justify-content: first baseline;
  align-items: flex-start;

}
.nameli{
  font-family: Merriweather Sans, sans-serif;
    color: #0C1E33;
    font-size: 22px;
}
.usuario{
  font-family: Merriweather Sans, sans-serif;
    color: #0C1E33;
    font-size: 13px;
}
p{
  font-family: Merriweather Sans, sans-serif;
    color: #0C1E33;
    font-size: 18px;
    display: flex;
    align-items: first baseline;
}
.Táticasamor,.cançao,.terranunca,.vermelho{
  padding: 45px;
  margin: 55px;
  border:2px  solid #0C1E33;
  border-radius: 25px;
  

}
.taticas,.aquileimg,.rei,.branco{
  max-width: 125px;
    max-height: 257px;
  
}
}
