.active{
    display: block;
}
 @media (max-width: 768px) {
     .espera{
        margin: 28px;
    }
    .title-prin{
      font-family: "Cinzel Decorative", serif;
      color:#0C1E33;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
    }
    .text-prin{
        font-family: Merriweather Sans, sans-serif;
        color: #0C1E33;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
       }
      
      .liv{
        padding: 45px;
      margin: 73px;
      border:2px  solid #0C1E33;
      border-radius: 25px;
      
      }
}
    /*desktop*/
@media (min-width: 768px) {
   .espera{
        margin: 28px;
    }
    .title-prin{
    font-family: "Cinzel Decorative", serif;
    color:#0C1E33;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    }
   .text-prin{
    font-family: Merriweather Sans, sans-serif;
    color: #0C1E33;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
  .liv{
    padding: 45px;
  margin: 73px;
  border:2px  solid #0C1E33;
  border-radius: 25px;
  }
}
