@media (max-width: 768px) {
.comoFunciona{
  justify-content: center;
  align-items: center;
}
.livros,.comoFunciona{
  padding:20px;
}
.imglivros{
    max-width: 180px;
    max-height: 270px;
}
.milvezes,.MelhordoQ,.pacienteSilenciosa,.OIluminado,.NemteConto,.DeSangueeCinzas{
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
}
/*Desktop*/
@media (min-width: 768px) {
.comoFunciona{
  justify-content: center;
  align-items: center;
}
.livros,.comoFunciona{
  padding:20px;
}
.imglivros{
    max-width: 270px;
    max-height: 400px;
  }
.milvezes,.MelhordoQ,.pacienteSilenciosa,.OIluminado,.NemteConto,.DeSangueeCinzas{
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
.primeiralinha,.segundalinha,.terceiralinha{
    display:flex;
    justify-content: space-between;
}
}
