/*Mobile*/
@media (max-width: 768px) {
.comoFunciona{
  justify-content: center;
  align-items: center;
}
.livros, .comoFunciona {
  padding: 5%;
}
.imglivros {
  max-width: 30%; 
  max-height: auto;
}
.milvezes,.MelhordoQ,.pacienteSilenciosa,.OIluminado,.NemteConto,.DeSangueeCinzas{
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 100%;
}
}
/*Desktop*/
@media (min-width: 768px) {
.horizontal1, .horizontal2, .horizontal3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.comoFunciona{
  justify-content: center;
  align-items: center;
}
.livros,.comoFunciona{
  padding:20px;
}
.imglivros{
    max-width: 45%;
    max-height: auto;
}
.milvezes,.MelhordoQ,.pacienteSilenciosa,.OIluminado,.NemteConto,.DeSangueeCinzas{
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 100%;
}
.horizontal1,.horizontal2,.horizontal3{
    display:flex;
    justify-content: space-between;
    width:100%
}
}
