/* Imagem de início */
.imgpqlerPai{
  display:flex;
  justify-content:center;
  align-items:center;
}
.imgpqler{
  width: 80%;
  height: auto;
  margin-bottom: 20px;
}
/* Links */
ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
ul li a {
  color: #0066cc;
  text-decoration: none;
}
ul li a:hover {
  text-decoration: underline;
}
/* Botão de exibir/ocultar sugestões */
#toggle-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #0C1E33;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
#toggle-button:hover {
  background-color: #06121F;
}
/* Sugestões ocultas por padrão */
.hidden {
  display: none;
}
/* Responsividade */
@media (max-width: 768px) {
  article {
    padding: 2%;
  }
  .L4{
    font-family: Inknut Antiqua;
    color:#0066cc;
    font-size: 20px;
}
}
